node_modules
.pnpm
.pnp
.pnpm-debug.log
dist
.cache
tmp
out-tsc
.DS_Store
Thumbs.db
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.idea
.vscode
*.swp
coverage
.jest
karma.conf.js