@import '../../../../../assets/styles/variables';

:host {
	display: contents;
}

::ng-deep .prime-table-container {
	height: 100%;

	.p-datatable-wrapper {
		height: 100%;

		table {
			height: 100%;

			tr {
				cursor: pointer;
				th {
					border-bottom: 2px solid $dark-color;
					margin-bottom: 2px;
					background-color: white;
				}
				td {
					border: unset;
					&:first-child {
						border-top-left-radius: 6px;
						border-bottom-left-radius: 6px;
					}
					&:last-child {
						border-top-right-radius: 6px;
						border-bottom-right-radius: 6px;
					}
				}
				&:nth-child(even) {
					background-color: $watermark-color;
					color: $watermark-contrast-color;
				}
				&:hover {
					background-color: $primary-color;
					color: $primary-contrast-color;
				}
			}
		}
	}
}
