:host {
	display: contents;
}

::ng-deep .prime-table-container {
	height: 100%;

	.p-datatable-table-container {
		--p-datatable-row-selected-background: color-mix(in srgb, var(--primary-color), var(--white-color) 8%);
		--p-datatable-row-selected-color: var(--primary-contrast-color);

		height: 100%;
		table {
			tr {
				cursor: pointer;
				th {
					border-bottom: 2px solid var(--dark-color);
					background-color: white;
				}
				td {
					background-color: transparent;
					&:first-child {
						border-top-left-radius: 6px;
						border-bottom-left-radius: 6px;
					}
					&:last-child {
						border-top-right-radius: 6px;
						border-bottom-right-radius: 6px;
					}
				}
				&:nth-child(even) {
					td {
						border-bottom: 1px solid var(--watermark-color);
					}
				}

				&:nth-child(odd) {
					td {
						border-bottom: 1px solid var(--white-color);
					}
				}
				&:nth-child(odd) + :not(.p-datatable-tbody > tr.p-datatable-row-selected) {
					background-color: var(--watermark-color);
					color: var(--watermark-contrast-color);
				}
				&:hover td {
					background-color: var(--primary-color);
					color: var(--primary-contrast-color);
				}
			}
		}
	}

	.p-paginator {
		--p-paginator-nav-button-selected-background: var(--primary-color);
		--p-paginator-nav-button-selected-color: var(--primary-contrast-color);

		border-width: 0;
	}
}
