::ng-deep :root {
	--primary-color: #0e3b72;
	--primary-contrast-color: white;
	--watermark-color: #efefef;
	--watermark-contrast-color: var(--dark-color);
	--gray-light-color: #ebe9e9;
	--gray-light-contrast-color: var(--dark-color);
	--secondary-color: #6c757d;
	--success-color: #28a745;
	--info-color: #17a2b8;
	--warning-color: #ffc107;
	--danger-color: #dc3545;
	--light-color: #f8f9fa;
	--white-color: #fff;
	--dark-color: #343a40;

	--card-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px -1px rgba(0, 0, 0, 0.1);
}
