.login-container {
	display: grid;
	place-items: center;
	height: 89dvh;
}

.login-card {
	width: 750px;
	height: 400px;
	background-color: var(--white-color);
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	position: relative;
	overflow: hidden;
	z-index: 1;
	transition: all 0.5s ease-in-out; /* Animación general para el cambio de ancho */

	.login-disclamer {
		z-index: 5;
		display: none;
		color: var(--primary-contrast-color);
		&.expanded {
			display: flex;
			padding: 20px;
			justify-content: center;
			align-items: flex-start;
			gap: 10px;
			flex-direction: column;
			width: 100%;

			.login-disclamer-title-container {
				display: flex;
				justify-content: space-between;
				align-items: center;
				width: 100%;
				.login-disclamer-title {
					border: 2px solid var(--warning-color);
					color: var(--warning-color);
					padding: 0.6em;
					border-radius: 8px;
					margin: 0;
					display: flex;
					flex-wrap: nowrap;
					align-items: center;
					justify-content: center;
					gap: 0.2em;
				}
			}
			p {
				padding: 27px;
				margin: 0;
				border: 2px solid var(--white-color);
				border-radius: 8px;
			}
		}
	}

	&::after {
		content: '';
		position: absolute;
		background: linear-gradient(to bottom right, var(--primary-color), var(--dark-color));
		z-index: 4;
		width: 0%;
		height: 400px;
		right: 0;
		bottom: 0;
		transition: width 0.8s ease-in-out;
	}
}

.login-card.expanded {
	grid-template-columns: 1fr;
	&::after {
		width: 100%;
	}
}

::ng-deep .login-card-form-container {
	background: transparent;
	padding: 20px;
	border-radius: 8px 0px 0px 8px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	gap: 10px;

	.login-title {
		color: var(--primary-color);
		width: 100%;
		padding: 12px;
		border-radius: 8px;
		border: 1px solid var(--primary-color);
		text-align: center;
		z-index: 2;
		background: var(--white-color);
	}
	.login-card-form-inputs-container {
		display: flex;
		flex-direction: column;
		gap: 10px;
		flex-wrap: nowrap;
		justify-content: flex-start;
		width: 100%;
		button {
			width: 100%;
		}
	}

	position: relative;
	overflow: hidden;
	z-index: 1;

	&::after {
		content: '';
		position: absolute;
		background: var(--primary-color);
		border-radius: 35%;
		border: 1px solid var(--primary-color);
		z-index: -1;
		width: 175px;
		height: 175px;
		top: -50px;
		left: -50px;
	}
}

.login-card-welcome-container {
	background: linear-gradient(to bottom right, var(--primary-color), var(--dark-color));
	padding: 20px;
	border-radius: 35% 8px 8px 35%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 10px;

	.login-welcome-title {
		color: var(--primary-contrast-color);
		span {
			padding: 0.3em;
			border: 2px solid var(--primary-contrast-color);
			border-radius: 8px;
			color: var(--primary-color);
			background: var(--primary-contrast-color);
		}
	}
}
